/* @font-face {
    font-family: "Open Sans";
    font-style: italic;
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
} */

@font-face {
    font-family: "Segoe Pro";
    font-weight: 300;
    src: url("../fonts/SegoePro-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe Pro";
    font-weight: normal;
    src: url("../fonts/SegoePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Segoe Pro";
    font-weight: bold;
    src: url("../fonts/SegoePro-Bold.ttf") format("truetype");
}

body {
    background-color: gray;
}

.wrapper {
    max-width: 1300px;
    background-color: white;
    margin: 0 auto;
}


/* Header */

header {
    height: 120px;
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header .logo {
    position: relative;
    width: 400px;
}

header .logo .logo_img_1 {
    position: absolute;
    top: 28px;
    left: 0;
    height: 83px;
    width:83px;
}

header .logo .logo_img_2 {
    position: absolute;
    top: 30px;
    left: 2px;
    height: 79px;
    width:79px;
}

header .logo .logo_text {
    position: absolute;
    left: 93px;
    top: 55px;
    font-size: 41px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

.header_nav {
    position: relative;
    width: 461px;
    height: 49px;
    top: 63px;
    margin-right: 3px;
    z-index: 10;
}

.header_nav .nav_background_1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.27;
    width: 453px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.header_nav .nav_background_2 {
    position: absolute;
    top: 3px;
    left: 4px;
    opacity: 0.27;
    width: 453px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.header_nav ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 8px;
    left: 8px;
    width: 453px;
    height: 41px;
    background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.header_nav ul .divider {
    height: 41px;
    width: 1px;
    border-left: 1px solid #dcb105;
    opacity: 0.3;
}

.header_nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
    font-size: 17px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #9b7d08;
    font-family: sans-serif;
    text-align: center;
}

.header_nav ul li a:hover {
    background-color: #b99403;
    color: #f5c506;
}

.header_nav ul li a:hover svg {
    fill: #f5c506;
}

.header_nav .about_us {
    width: 172px;
}

.header_nav .services {
    width: 132px;
}

.header_nav .contact {
    width: 147px;
}

.header_nav svg {
    display: block;
    fill: #b99403
}

.header_nav span {
    margin-top: 3px;
}

.header_nav .about_us svg {
    margin: 0 10px 0 23px;
}

.header_nav .services svg {
    margin: 0 10px 0 9px;
}

.header_nav .contact svg {
    margin: 0 7px 0 -2px;
}


/* Banner */

.banner {
    height: 566px;
    background-image: url("../images/layer_20.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -120px;
}

.banner_wrapper {
    position: relative;
    padding-top: 120px;
}

.banner_arrow_left, .banner_arrow_right {
    width: 32px;
    height: 57px;
    position: absolute;
    top: 300px;
    background: #f5c506;
    opacity: 0.7;
    cursor: pointer;
}

.banner_arrow_left:hover, .banner_arrow_right:hover {
    opacity: 1;
}

.banner_wrapper .banner_arrow_left {
    left: 0;
}

.banner_wrapper .banner_arrow_right {
    right: 0;
}

.banner_arrow_left svg {
    fill: #fff;
    margin: 19px 11px 19px 8px;
}

.banner_arrow_right svg {
    fill: #fff;
    margin: 19px 8px 19px 11px;
}

.banner_content {
    display: flex;
    align-items: center;
    width: 1024px;
    height: 416px;
    margin: 0 auto;
}

.banner .banner_content video {
    width: 549px;
    height: 327px;
    margin-top: 7px;
    margin-left: 11px;
    box-shadow:0 0 0 128px rgba(0, 0, 0, 0.33) inset;
}

.banner_text {
    font-size: 63px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f5c506;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;
    margin-left: 49px;
    margin-bottom: 20px;
    line-height: 75px;
}

.banner_text span {
    color: #fff;
}


/* Icon Area */

.icon_area {
    height: 212px;
    background-image: url("../images/layer_7.png");
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: -0.1px -1px 5px rgba(0,0,0,0.75);
}

.icon_area_wrapper {
    width: 1024px;
    height: 212px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.icon_area_divider {
    height: 212px;
    width: 1px;
    border-left: 1px solid #d1d1d1;
    opacity: 0.3;
}

.icon_area_wrapper figure {
    position: relative;
    width: 200px;
}

.better_design svg {
    position: absolute;
    top: 60px;
    left: 22px;
}

.better_design figcaption {
    position: absolute;
    top: 149px;
    left: -2px;
}

.customise svg {
    position: absolute;
    top: 36px;
    left: 65px;
}

.customise figcaption {
    position: absolute;
    top: 149px;
    left: 40px;
}

.its_free svg {
    position: absolute;
    top: 53px;
    left: 66px;
}

.its_free figcaption {
    position: absolute;
    top: 150px;
    left: 61px;
}

.icon_area_wrapper figure figcaption {
    font-size: 27px;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Segoe Pro";
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.icon_area_wrapper figure svg {
    display: block;
    fill: #f5c506;
}


/* Content One */

.content_1 {
    height: 509px;
    background-image: url("../images/layer_10_3.png");
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: inset -0.1px 1px 5px rgba(0,0,0,0.75);
}

.content_1_wrapper {
    width: 1024px;
    height: 509px;
    padding-top: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content_1_wrapper h2 {
    font-size: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 17px;
}

.news_content {
    height: 319px;
    margin-top: 26px;
}

.film_poster {
    width: 656px;
    float: left;
    margin-left: 1px;
}

.film_description {
    width: 341px;
    height: 233px;
    float: left;
    background-color: #ec9e03;
    font-size: 29px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe Pro";
    font-weight: 300;
    box-sizing: border-box;
    padding: 16px 29px;
    position: relative;
}

.film_poster video {
    width:  315px;
    height: 232px;
    display: block;
}

.film_date {
    width: 113px;
    height: 86px;
    background-color: #ddb101;
    text-align: center;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 6px;
}

.film_date > p:first-child {
    font-size: 51px;
    letter-spacing: 1px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe Pro";
    font-weight: bold;
}

.film_date > p:last-child {
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #b26529;
    font-family: "Segoe Pro";
    text-transform: uppercase;
}

.twitter_poster {
    width: 329px;
    height: 233px;
    float: right;
    background-color: #ec9e03;
    margin-right: 5px;
    position: relative;
    margin-right: 5px;
}

.twitter_poster span {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe Pro";
    font-weight: 300;
    float: right;
    margin-right: 18px;
    margin-top: 9px;
}

.twitter_poster svg {
    fill: #c18000;
    margin-left: 82px;
    margin-top: 57px;
}

.plus_sign {
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 23px;
    color: #ffffff;
    font-family: "Segoe Pro";
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.twitter_poster .plus_sign {
    margin-right: -4px;
}

.slider_container {
    width: 896px;
    margin: 30px 55px 30px auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 7px;
    background-color: #ffffff;
    outline: none;
    opacity: 0.5;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 197px;
    height: 15px;
    border-radius: 7px;
    background-color: #ec9e03;
    cursor: pointer;
}

/* Content Two */

.content_2 {
    height: 499px;
    background-image: url("../images/layer_32.png");
    background-repeat: no-repeat;
    background-position: top center;
}

footer {
    height: 64px;
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
    margin-top: -5px;
}
